<div class="title-block">
    <h3 class="title">
        <div class="col-md-4">
        Project Details   #{{project.projectUniqueId}}
      </div>  <div class="col-md-4"></div>
          <div class="col-md-4">
           

            <a class="btn btn-primary" style="margin-right: 5px;" [routerLink]="['/projects',project.projectId,'cis']">
               Clearance Items
            </a>
             
                <a class="btn btn-primary" style="margin-right: 5px;">
                Save
            </a>
             <a class="btn btn-primary" [routerLink]="['/projects']">
                Back
            </a>
         </div>
    </h3>
    
</div>
<div class="col-xl-12">
    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="col-md-6 form-group required">
                    <label class="control-label col-md-4" for="workingTitle">Working Title</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control boxed" id="workingTitle" [(ngModel)]="project.workingTitle" name="workingTitle">
                    </div>
                </div>
                <div class="col-md-6 form-group required">
                    <label class="control-label col-md-4" for="releaseTitel" >Release Title</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control boxed" id="releaseTitel" [(ngModel)]="project.releaseTitle" name="releaseTitle">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4" for="WPRBillingCode">WPR BillingCode</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control boxed" id="WPRBillingCode" [(ngModel)]="project.wprBillingCode" name="wprBillingCode">
                    </div>
                </div>
                <div class="col-md-6 form-group ">
                    <label class="control-label col-md-4" for="StartDate" >Start Date</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control boxed" id="StartDate" [(ngModel)]="project.strartDate" name="strartDate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4" for="WrapDate">Wrap Date</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control boxed" id="WrapDate">
                    </div>
                </div>
                <div class="col-md-6 form-group ">
                    <label class="control-label col-md-4" for="ReleaseDate">Release Date</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control boxed" id="ReleaseDate">
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>
<div class="col-md-6 ">
    <div class="card sameheight-item">
        <div class="card-header bordered">
            <div class="header-block">
                <h3 class="title">
                    Production Office Address1
                </h3>
            </div>
            <div class="header-block pull-right">

                <label>
                    <input class="checkbox pull-right" type="checkbox" [(ngModel)]="project.isPrimary" name="isPrimary">
                    <span>Primary</span>
                </label>
            </div>
        </div>

        <div class="card-block">


            <form>
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="careOf">Care Of</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="careOf">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="address1">Address1</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="address1" [(ngModel)]="project.productionOfficeAddress1" name="productionOfficeAddress1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="address2">Address2</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="address2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="address3">Address3</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="address3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="zip">Zip/Pin</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="zip">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-6 ">
    <div class="card sameheight-item">
        <div class="card-header bordered">
            <div class="header-block">
                <h3 class="title">
                    Production Office Address2
                </h3>
            </div>
            <div class="header-block pull-right">

                <label>
                    <input class="checkbox pull-right" type="checkbox">
                    <span>Primary</span>
                </label>
            </div>
        </div>

        <div class="card-block">


            <form>
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="careOf">Care Of</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="careOf">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="address1">Address1</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="address1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="address2">Address2</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="address2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="address3">Address3</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="address3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label col-md-4" for="zip">Zip/Pin</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="zip">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card sameheight-item">
        <div class="card-header bordered">
            <div class="header-block">
                <h3 class="title">
                    Production Contacts
                </h3>
            </div>
            <div class="header-block pull-right">
                <a href="" class="btn btn-primary btn-sm rounded pull-right">
                Add new
            </a>
            </div>
        </div>


        <div class="card-block">

            <form>
                <div class="row">
                    <div class="col-md-6 form-group required">
                        <label class="control-label col-md-4" for="firstName">First Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="firstName">
                        </div>
                    </div>
                    <div class="col-md-6 form-group required">
                        <label class="control-label col-md-4" for="lastName">Last Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="lastName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label col-md-4" for="emailId">Email ID</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="emailId">
                        </div>
                    </div>
                    <div class="col-md-6 form-group ">
                        <label class="control-label col-md-4" for="phoneNo">Phone No</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control boxed" id="phoneNo">
                        </div>
                    </div>
                </div>


            </form>


        </div>
    </div>
 

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Project Attorney</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Creative</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Biz Affairs</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Credit Admin</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Cast Admin</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Post Production</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Music</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>

    <div class="card card-block sameheight-item">

        <form>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="firstName">Clearance Contact</label>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Email ID</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Phone No</span>
                                <input type="text" class="form-control boxed" id="firstName">
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </form>


    </div>