<!--<div class="test">test</div>-->
<div class="items-list-page">
	<div class="title-search-block">

		<div class="title-block">
			<div class="row col-md-12">

			
				<div class="switch-toggle well" >
					<input id="week" name="view" type="radio" checked>
					<label for="week" onclick="">MyProjects</label>

					<input id="month" name="view" type="radio">
					<label for="month" onclick="">AllProjects</label>

					<a class="btn btn-primary" href="/" ></a>
					</div>
			



		</div>
</div>

</div>

<div class="card items">
	<ul class="item-list striped">
		<li class="item item-list-header hidden-sm-down">
			<div class="item-row">

				<div class="item-col item-col-header item-col-name">
					<div>
						<span>Name</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-total">
					<div>
						<span>Total Items</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-status">
					<div class="no-overflow">
						<span>Status</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-review">
					<div class="no-overflow">
						<span>Review Queue</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-addCI">
					<div class="no-overflow">
						<span></span>
					</div>
				</div>

			</div>
		</li>

		<li class="item" *ngFor='let project of projects '>

			<div class="item-row">


				<div class="item-col fixed pull-left item-col-name">
					<div class="item-heading">Name</div>
					<div>
						<a [routerLink]="['/projects', project.projectId]" class="">
							<h4 class="item-title">
								{{project.projectUniqueID}} {{project.projectName}}
							</h4>
						</a>
					</div>
				</div>
				<div class="item-col item-col-total no-overflow">
					<div class="item-heading">Total Items</div>
					<div class="no-overflow">
						{{project.totalCICount}}
					</div>
				</div>
				<div class="item-col item-col-status no-overflow">
					<div class="item-heading">Status</div>
					<div class="no-overflow">
						<!--<div class="item-status sparkline" data-type="bar"></div>-->
						<!--<span [myBarChart]="[55,79,96]"></span>	-->
						<canvas baseChart style="height: 60px;" [data]="project.statusValues" [labels]="project.statusNames" [chartType]="pieChartType" [legend]="false" ></canvas>
</div>
</div>
<div class="item-col item-col-review no-overflow">
	<div class="item-heading">ReviewQueue</div>
	<div class="no-overflow">
		<a href="">{{project.reviewQueueCount}}</a>
	</div>
</div>
<div class="item-col item-col-addCI">
	<div class="item-heading"></div>
	<div class="no-overflow">

		<a href="" class="btn btn-primary btn-sm rounded pull-right">
                                Add CI
                                </a>

	</div>
</div>



</div>
</li>

</ul>
</div>

<nav class="text-xs-right">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" href="">
				Prev
			</a>
		</li>
		<li class="page-item active">
			<a class="page-link" href="">
				1
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="">
				2
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="">
				3
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="">
				4
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="">
				5
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="">
				Next
			</a>
		</li>
	</ul>
</nav>
</div>